.settings
.project
.pydevproject
*.bak
*.dia
*.dia~
*.graphml
*.ods
*.png
*.prefs
*.project
*.psd
*.pyc
*.pydevproject
*.sqlite
*.swp
*.zargo
*.zargo~
/build
/design
/doc/*
!/doc/
!/doc/index.rst
!/doc/codebase_reference/
!/doc/codebase_reference/**
!/doc/software_documentation/
!/doc/software_documentation/**
/modeling/
!/modeling/recapp.asta
/src/bs/config.json
/src/img/
